<html>
<head>
    <title>
        Welcome to View Report
    </title>
    <% include partials/header %>
    <style>
        #details {
            font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        #details td,
        #details th {
            border: 1px solid #ddd;
            padding: 8px;
        }

        #details tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        #details tr:hover {
            background-color: #ddd;
        }

        #details th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #4CAF50;
            color: white;
        }
        .reportHead {
            text-align: center;
            font-size: x-large;
            font-weight: bolder;
            color: blue;
        }
        .reportRow, .flowRow{
            cursor: pointer;
            text-align: center;
        }
        .flowlevelTr,.messageLevelTr{
            text-align: center;
        }


        /* The Modal (background) */
        .modal {
            display: none; /* Hidden by default */
            position: fixed; /* Stay in place */
            z-index: 1; /* Sit on top */
            padding-top: 100px; /* Location of the box */
            left: 0;
            top: 0;
            width: 100%; /* Full width */
            height: 100%; /* Full height */
            overflow: auto; /* Enable scroll if needed */
            background-color: rgb(0,0,0); /* Fallback color */
            background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
        }

        /* Modal Content */
        .modal-content {
            background-color: #fefefe;
            margin: auto;
            padding: 20px;
            border: 1px solid #888;
            width: 80%;
        }

        /* The Close Button */
        #close {
            color: #aaaaaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

        #close:hover,
        #close:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }
    </style>
    <script>
        window.onload = function() {

            var chart = new CanvasJS.Chart("chartContainer", {
                animationEnabled: true,
                title: {
                    text: "Pie Chart"
                },
                data: [{
                    type: "pie",
                    startAngle: 240,
                    yValueFormatString: "##0.00\"%\"",
                    indexLabel: "{label} {y}",
                    dataPoints: [
                        {y: '<%= locals.overview.passedPercentage %>', label: "Passed"},
                        {y: '<%= (100-locals.overview.passedPercentage) %>', label: "Failed"}
                    ]
                }]
            });
            chart.render();

        }
    </script>
    <script>

        $(document).ready(function () {
            $(".flowLevel").hide();
            $(".messageLevel").hide();
            console.log("hide flows");
            $(".reportRow").click(function () {

                console.log("Clicked reportRow",this)
                id = $(this).data("href");
                if ($('tr#' + id).is(":visible")) {
                    console.log("Here in if")
                    $('tr#' + id).remove();
                } else {
                    $(".flowLevelTr").remove();
                    console.log("Here in else",$(this).closest('tr'))
                    $(this).closest('tr').after('<tr class="flowLevelTr" id="' + id + '"><td colspan="6">' + $('#' + id).html() + '</td></tr>');
                }
            })
            $("#close").click(function () {
                close()
            })

        });
        function flowRow(tr) {
            console.log("Clicked flowRow",tr)
            id = $(tr).data("href");
            if ($('tr#' + id).is(":visible")) {
                console.log("Here in if")
                $('tr#' + id).remove();
            } else {
                $(".messageLevelTr").remove();
                console.log("Here in else",$(tr).closest('tr'))
                $(tr).closest('tr').after('<tr class="messageLevelTr" id="' + id + '"><td colspan="6">' + $('#' + id).html() + '</td></tr>');
            }
        }

        function messageRow(tr){
            id = $(tr).data("href");
            console.log(tr,$('#' + id).html())

            document.getElementById('modalContent').innerHTML = $('#' + id).html()
            $("#myModal").show();

        }
        // When the user clicks on <span> (x), close the modal
        function close() {
            console.log("Close")
            $("#myModal").hide();
        }
        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function(event) {
            var modal = document.getElementById('myModal');

            if (event.target == modal) {
                close();
            }
        }
    </script>
</head>

<body>
<% include partials/nav %>
<div class="container-fluid">
    <div class="col-md-12 reportHead">
        Detailed Report
    </div>
    <div class="row">
        <div class="col-md-6" style="display: flex;align-items: center;">
            <ul>

                <li>Total Report:- <%= locals.overview.reportCount %></li>
                <li>Total Flows:- <%= locals.overview.flowsCount %></li>
                <li>Total tests:- <%= locals.overview.testsCount %></li>
                <li>Total Passed Tests:- <%= locals.overview.passedTests %></li>
                <li>Total Failed Tests:- <%= locals.overview.failedTests %></li>
                <li>Total Messages:- <%= locals.overview.messagesCount %></li>
            </ul>
        </div>
        <div class="col-md-6">
            <div id="chartContainer" style="height: 300px; width: 100%;"></div>
            <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
        </div>
    </div>


    <!-- some graph-->
    <!--Tables  -->
    <div class="row">
        <div class="col-md-12">
            <% if(locals.success){ %>
            <table id="details">
                <thead>
                <tr>
                    <td>reportId </td>
                    <td>Flows Count </td>
                    <td>Message Count</td>
                    <td>Time Taken</td>
                    <td>pass/failed</td>
                    <td>pass%</td>
                </tr>
                </thead>
                <tbody>
                <!--loop -->
                <% for(let key in locals.reportData) {%>
                <tr class="reportRow" name="" value=" " data-href="<%= key %>">
                    <td><%= key %> </td>
                    <td><%= Object.keys(locals.reportData[key].report).length %></td>
                    <td><%= locals.overview.messageByReportId[key] %></td>
                    <td><%= (locals.reportData[key].testCompletedTimestamp - locals.reportData[key].testStartedTimestamp) %></td>
                    <td><%= locals.overview.passedTestsByReportId[key] %>/ <%= locals.overview.failedTestsByReportId[key] %></td>
                    <td><%= (locals.overview.passedTestsByReportId[key]/(locals.overview.passedTestsByReportId[key]+locals.overview.failedTestsByReportId[key]))*100 %>%</td>
                </tr>
                <% }%>
                </tbody>
            </table>
            <!-- Description based on flow start-->
            <% for(let key in locals.reportData) {%>
                <div id="<%= key %>" class="<%= key %> flowLevel">
                    <p>flowWise Description of reportId <%= key %></p>
                    <table class="flowDetails" style="background: white;    width: 96%;margin-left: 2%;">
                        <thead>
                            <tr>
                                <th>FlowId</th>
                                <th>Message Count</th>
                                <th>Time Taken</th>
                                <th>Pass / Fail</th>
                                <th>pass % </th>
                            </tr>
                        </thead>
                        <tbody>
                        <% for (let flowKey in locals.reportData[key].report){ %>
                        <tr onclick="flowRow(this)" class="flowRow" name="" value=" " data-href="<%= key+"_"+flowKey %>">
                            <td><%= flowKey %></td>
                            <td><%= locals.overview.messageByReportNFlowId[key+"_"+flowKey] %></td>
                            <td><%= locals.overview.timeTakenByReportNFlowId[key+"_"+flowKey] %></td>
                            <td><%= locals.overview.passedTestsByReportNFlowId[key+"_"+flowKey]+"/"+locals.overview.failedTestsByReportNFlowId[key+"_"+flowKey] %></td>
                            <td><%= (locals.overview.passedTestsByReportNFlowId[key+"_"+flowKey]/(locals.overview.passedTestsByReportNFlowId[key+"_"+flowKey]+overview.failedTestsByReportNFlowId[key+"_"+flowKey])*100) %></td>
                        </tr>
                        <% } %>
                        </tbody>
                    </table>
                </div>
            <% } %>
            <!-- Description based on flow end-->



            <!-- Description based on messages start-->
            <% for(let key in locals.reportData) {%>
                <% for (let flowKey in locals.reportData[key].report){ %>
                    <div id="<%= key+"_"+flowKey %>" class="<%= key %> messageLevel">
                        <p>messageWise Description of <%= key+"_"+flowKey %></p>
                        <table class="messageDetails" style="background: white;    width: 96%;margin-left: 2%;">
                            <thead>
                            <tr>
                                <th>MessageId</th>
                                <th>Query</th>
                                <th>responseTime</th>
                                <th>State</th>
                            </tr>
                            </thead>
                            <tbody>
                            <% for (let messageId in locals.reportData[key].report[flowKey]){ %>
                            <tr onclick="messageRow(this)" class="flowRow" name="" value=" " data-href="<%= key+"_"+flowKey+"_"+messageId %>">
                                <td><%= messageId %></td>
                                <% if (locals.reportData[key].report[flowKey][messageId].info.clientMessageFormat){ %>
                                <td><%= locals.reportData[key].report[flowKey][messageId].info.clientMessageFormat.type + ":- "+ locals.reportData[key].report[flowKey][messageId].info.clientMessageFormat.text %></td>
                                <% } else { %>
                                <td> Processing tests..</td>
                                <% } %>
                                <td><%= locals.reportData[key].report[flowKey][messageId].responseTime %></td>
                                <td><%= locals.reportData[key].report[flowKey][messageId].state %></td>
                            </tr>
                            <div style="display: none" id="<%= key+"_"+flowKey+"_"+messageId %>">
                                <div class="row">
                                    <div class="col-md-6">
                                        <p>Response</p>
                                        <pre><%- JSON.stringify(locals.reportData[key].report[flowKey][messageId].info.response,null, ' ') %></pre>
                                    </div>
                                    <div class="col-md-6">
                                        <p>SavedResponse</p>
                                        <pre><%= JSON.stringify(locals.reportData[key].report[flowKey][messageId].info.savedResponse , null, ' ') %></pre>
                                    </div>
                                </div>
                            </div>
                            <% } %>
                            </tbody>
                        </table>
                    </div>
                <% } %>
            <% } %>
            <!-- Description based on messages end -->
            <!-- The Modal -->
            <div id="myModal" class="modal">

                <!-- Modal content -->
                <div class="modal-content">
                    <span id="close" >&times;</span>
                    <div id="modalContent"></div>
                </div>

            </div>
            <% }else{ %>
            <pre> <%= locals.reportData %></pre>
            <% } %>
        </div>
    </div>

</div>
</body>
</html>